<html>

<head>
  <style>
    ol {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
    }

    li {
      margin-bottom: 10px;
    }
  </style>
</head>

<body>
  <div id="container">
    <h1>
      API documentation
    </h1>
    <ol>

      <li>
        <p>
        <a target="_blank" href="/get-gold-quote">/get-gold-quote</a> <br>
        Get the latest gold price quote.
        </p>
      </li>

      <li>
        <p>
        <a target="_blank" href="/list-apps">/list-apps</a> <br>
        List all apps.
        </p>
      </li>

      <li>
        <p>
        <a target="_blank" href="/list-products/A01">/list-products/:app</a> <br>
        List all product under an app.
        </p>
      </li>

      <li>
        <p>
        <a target="_blank" href="/get-detail/A01">/get-detail/:app</a> <br>
        List detaill information of a product.
        </p>
      </li>

      <li>
        <p>
        <a target="_blank" href="/list-addons/A01">/list-addons/:app/</a> <br>
        List all addons under an app.
        </p>
      </li>

      <li>
        <p>
        <a target="_blank" href="/get-detail-addons/A01">/get-detail-addons/:app/</a> <br>
        Get detail informaion on an app.
        </p>
      </li>

    </ol>
  </div>

</body>

</html>