.user-select-none {
  user-select: none !important;
}

.hover-cursor-default:hover{
  cursor: default !important;
}

.hover-cursor-pointer:hover {
  cursor: pointer !important;
}

.hover-cursor-grab:hover{
  cursor: grab !important;
}

