/* css reset */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  border: 0;
  padding: 0;
}

/* root element */
html {
  box-sizing: border-box;
  font-size: 16px;
  /* custom colors */
  --theme-color-1: #1E1E1E;
}

.bg-theme-1 {
  background-color: var(--theme-color-1);
}