.hover-background-06f:hover {
  background: #06f;
}

.hover-color-fff:hover, .hover-color-fff:hover * {
  color: #fff;
}

.text-color-6d6d6d {
  color: #6d6d6d;
}

[contenteditable] {
  outline: 0px solid transparent;
}