#main-content {
  min-height: 100vh;
  padding-bottom: 50px;
}

/* ---------------------------------------- */
#about-us-block {
  min-height: 300px;
  margin: 10px auto;
  /* padding: 5px 5px 5px 5px; */
  width: 100%;
  flex-direction: column;
}

#about-us-map {
  margin: 0px;
  width: 100%;
}

#about-us-map>iframe {
  width: 100%;
}

#about-us-address {
  flex: 1 1 auto;
  font-size: clamp(15px, 2vw, 2vw);
}

#about-us-icons {
  width: 100%;
}

#footer {
  min-height: 50px;
  margin-top: -50px;
}

#price-block {
  flex-direction: column;
  margin: 10px auto;
  padding: 5px;
  width: 100%;
}

#price-intro {
  flex: 1 1 auto;
  margin: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#price-detail {
  flex: 1 1 auto;
  margin: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#price-intro-show-block {
  background-color: var(--component-bg-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 25%;
  width: 100%;
  min-height: 150px;
  flex: 0 1 auto;
}

#price-intro-title {
  width: 100%;
  margin-bottom: 10%;
  font-size: clamp(20px, 2vw, 2vw);
  white-space: nowrap;
}

#product-total-price {
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
  box-shadow: 0px -10px 14px rgba(0, 0, 0, 0.25);
  background-color: #e1e1e1;
}

#app-product {
  margin: 30px 0px;
  width: 100%;
  background-color: #e5e5e5;
  gap: 20px;
  padding: 50px 15px;
}

#app-product > div {
  width: clamp(50px, 40%, 300px);
}

#app-product a {
  width: 100%;
  position: relative;;
  padding-top: 133%;
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

#app-product > div > a > div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#app-product .img-container{
  position: relative;
  width: 100%;
  padding-top: 100%;
}

#app-product img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#app-product .card-name{
  flex: 1 1 auto;
}

#gold-show-section {
  width: 100%;
}

#gold-future-price {
  font-size: clamp(20px, 3vw, 3vw);
}

#gold-futures-price {
  color: black;
  font-size: clamp(20px, 5vw, 5vw);
}

#price-detail-info {
  width: 100%;
  margin: 10px auto;
}