/* starter reset */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}

a {
    text-decoration: none;
}

/* rem */
html {
    font-size: 16px;
    --theme-color: rgb(56, 56, 56);
    --component-bg-color: rgba(14, 92, 3, 0.288);
    --gold-color: rgb(0, 123, 255);
}

#main-content {
    min-height: 100vh;
    padding-bottom: 50px;
}

.black-theme-block {
    background-color: var(--theme-color);
}

#navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#navbar-item-container {
    width: 70vw;
    padding: 2.5px 2.5vw 2.5px 2.5vw;
}

.navbar-item-link {
    color: white;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    height: 50px;
    margin-top: -50px;
}

.footer-icon-link {
    color: white;
}

.flex-icon-block {
    margin: 3px;
}

#live-gold-price {
    color: yellow;
    font-weight: bold;
    font-size: 1vw;
}

.price-component-block {
  margin: 10px 2.5vw;
  padding: 10px 1vw;
  height: 300px;
  width: clamp(80%, 40vw, 60%);
}

#price-intro {
  background-color: var(--component-bg-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px;
}

#price-intro-title {
    width: 80%;
    margin-bottom: 10%;
}

#gold-futures-price {
  color: black;
  font-size: clamp(7vw, 24px, 2vw);
}

.price-table {
  width: 70%;
  height: 250px;
  border-radius: 5px;
  border: 1px solid rgba(36, 150, 51, 0.5);
  margin-right: 10%;
  padding: 5%;
}

.price-table h3{
  font-size: clamp(17px, 3vw, 25px)
}

.price-table-switch-button {
  background-color: #4e9af1;
  display: inline;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em soild rgab(255, 255, 255, 0);
  border-radius: 2em;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align: center;
  transition: all 0.2s;
  font-size: clamp(12px, 2vw, 18px);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.price-table-switch-button:hover{
  border-color: rgba(255, 255, 255, 1);
}

@media all and (max-width:30em) {
 .price-table-switch-button {
    display: block;
    margin: 0.2em auto;
  }
}




#price-row {
  width: 100vw;
  height: 500px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  #price-row {
      flex-direction: column;
  }
}

@media only screen and (min-width: 600px) {
  #price-row {
      flex-direction: row;
  }
}

#price-detail {
  --component-bg-color: rgba(14, 92, 3, 0.288);
  background-color: var(--component-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

#price-detail-info {
    width: 70%;
    margin: 10px auto;
}

.d-inline {
    display: inline;
}

