@media screen and (max-width: 576px) {
  #product-cards {
    grid-template-columns: 1fr 1fr;
  }
  .product-cards-card{
    border-radius: 10px;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  #product-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .product-cards-card{
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #product-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .product-cards-card{
    border-radius: 15px;
  }
}

@media screen and (min-width: 992px) {
  #product-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .product-cards-card{
    border-radius: 30px;
  }
}