@media screen and (max-width: 567px) {
  #product-plate-product{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  #product-plate-product{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 768px) {
  #product-plate-product{
    grid-template-columns: repeat(4, 1fr);
  }
  #product-plate > div:nth-child(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}