#custom {
  margin: 0px auto;
  padding: 25px 25px 25px 25px;
  display: flex;
  gap: 10px;
  width: min(100%, 992px);

  &>div:first-child {
    width: 60%;
  }

  &>div:last-child {
    width: 40%;
  }
}

#preview-container {
  width: 60%;
}

#preview {
  container-type: size;

  & a {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0px);
    font-size: 3cqh;
    height: 10cqh;
    background-color: #198964;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s;
  }

  & a:hover {
    background-color: #0d4e38;
  }
}

.preview-item {
  font-size: 7cqw;
  height: calc(7cqw + 2px);
  min-width: calc(28cqw + 2px);

  position: absolute;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  user-select: none;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
}

#control {
  display: grid;
  grid-template-rows: auto;
  row-gap: 10px;

  & #title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 15px 0px 0px 0px;
    border-bottom: 1px solid #D4D4D4;
  }

  & #title>h1 {
    font-size: clamp(20px, 5vw, 40px);
  }

  & #title h4 {
    font-size: clamp(12px, 2.5vw, 20px);
    color: rgb(128, 128, 128);
  }

  & .options-holder {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  & .options {
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D4D4D4;
    height: 50px;
    border-radius: 5px;
    user-select: none;
    font-size: clamp(12px, 1vw, 20px);
    margin: 5px;
  }
}


@media screen and (max-width: 768px) {
  #control {
    & #title {
      display: block;
    }

    & .options-holder {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media screen and (max-width: 576px) {
  #preview-container {
    width: 100%;
  }

  #custom {
    display: block;

    &>div:first-child {
      width: 100%;
    }

    &>div:last-child {
      width: 100%;
    }

    & .options-holder {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}