.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel .carousel-direction {
  position: absolute;
  height: 100%;
  width: 15%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel .carousel-direction div{
  font-weight: bolder;
  cursor: pointer;
  color: rgb(100, 100, 100);
  font-size: 2em;
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.carousel .carousel-content {
  position: absolute;
  height: 100%;
  transition: all 0.5s;
  display: flex;
  justify-content: space-around;
}

.carousel>.carousel-content>div {
  display: flex;
  justify-content: center;
  align-items: center;
}